    body { 
      font-family: system-ui, sans-serif; 
      max-width: 800px; 
      margin: 50px auto; 
      padding: 0 20px;
      background-color: darkcyan;
    }
    input {
      width: 100%; 
      padding: 12px; 
      font-size: 18px; 
      margin-top: 10px;
      box-sizing: border-box;
    }
    .error { 
      font-weight: bold; 
      color: rgb(0, 14, 204); 
      font-size: 18px;
    }
    .divider { 
      margin: 25px 0; 
      border-bottom: 1px solid #ddd; 
    }